#aplis{border-radius: 100%;
    height: 250px;
    width: 250px;
    background-color: aqua;
}
    body{text-align: center;}
#kaste{border-radius: 101%;
    height: 251;
    width: 251;
}
    